<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473365 | Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Floating Navigation Buttons -->
  <ion-grid>
    <ion-row>
      <ion-col offset="10">
        <ion-fab>
          <ion-fab-button href="/home">
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
      <ion-col>
        <ion-fab>
          <ion-fab-button href="/favourites">
            <ion-icon name="heart"></ion-icon>          
          </ion-fab-button>
        </ion-fab>
      </ion-col>
      <ion-col>
        <ion-fab>
          <ion-fab-button href="/settings">
            <ion-icon name="cog"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Recipe Card -->
  <ion-item>
    <ion-card id="recipeCard">
      <div id="recipeImagePadding">
        <img id="recipeImage" src={{recipeImageSrc}} />
      </div>
      <ion-card-header>
        <ion-card-title>{{recipeTitle}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <strong>Ingredients:</strong>
        <br>
        <strong>Measurement Type: {{unitOfMeasurement}}</strong>
        
        <br><br>
        
        <ion-list>
          <ion-item *ngFor="let i of recipeIngredients">
            <!--Come back to add metric option -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="https://img.spoonacular.com/ingredients_100x100/{{i.image}}" />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="unitOfMeasurement == 'US'">
                  {{i.originalName}} : {{i.measures.us.amount}} {{i.measures.us.unitLong}}
                </ion-col>
                <ion-col *ngIf="unitOfMeasurement == 'Metric'">
                  {{i.originalName}} : {{i.measures.metric.amount}} {{i.measures.metric.unitLong}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <br><br>

        <ion-card-title>Steps:</ion-card-title>
        <ion-list>
          <ion-item *ngFor="let s of recipeSteps">
            <!--Come back to add metric option -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{s.number}}.
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  {{s.step}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
            <ion-button *ngIf="!isFavourite" (click)="rdpAddToFave()">
              <ion-icon name="heart"></ion-icon>
              &nbsp;Add to favourites 
            </ion-button>
            <ion-button *ngIf="isFavourite" (click)="rdpRemoveFromFave()">
              <ion-icon name="close"></ion-icon>
              &nbsp;Remove from favourites
            </ion-button>
          <ion-col offset="5"></ion-col>
      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>