<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473365 | Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- Floating Navigation Buttons -->
  <ion-grid>
    <ion-row>
      <ion-col offset="10">
        <ion-fab>
          <ion-fab-button href="/home">
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>

      <ion-col>
        <ion-fab>
          <ion-fab-button href="/favourites">
            <ion-icon name="heart"></ion-icon>          
          </ion-fab-button>
        </ion-fab>
      </ion-col>

      <ion-col>
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="cog"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button href="/settings">
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <strong>IRL</strong>
            </ion-fab-button>
            <ion-fab-button>
              <strong>US</strong> 
            </ion-fab-button>           
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>


<ion-item *ngFor="let t of titlesList; let idx = index">
    <ion-card id="recipeCard">
      <div id="recipeImagePadding">
        <img id="recipeImage" [src]="imageSrcList[idx]"/>
      </div>
      <ion-card-header>
        <ion-card-title>{{t}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>
