<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473365 | Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- Floating Navigation Buttons -->
  <ion-grid>
    <ion-row>
      <ion-col offset="10">
        <ion-fab>
          <ion-fab-button href="/home">
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
      <ion-col>
        <ion-fab>
          <ion-fab-button href="/favourites">
            <ion-icon name="heart"></ion-icon>          
          </ion-fab-button>
        </ion-fab>
      </ion-col>
      <ion-col>
        <ion-fab>
          <ion-fab-button href="/settings">
            <ion-icon name="cog"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-title *ngIf="favouritesArray.length === 0">No favourites yet.</ion-title>

<ion-item *ngFor="let f of favouritesArray">
    <ion-card id="recipeCard">
      <div id="recipeImagePadding">
        <img id="recipeImage" src="{{f.image}}"/>
      </div>
      <ion-card-header>
        <ion-card-title>{{f.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button [href]="'/recipe-details?' + f.id">Details</ion-button>
        <ion-button (click)="removeFromFav(f.id)">
          Remove from Favourites &nbsp; 
            <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-card-content>
      </ion-card>
      </ion-item>

</ion-content>
