<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473365 | Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!-- Floating Navigation Buttons -->
  <ion-grid>
    <ion-row>
      <ion-col offset="10">
        <ion-fab>
          <ion-fab-button href="/home">
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>

      <ion-col>
        <ion-fab>
          <ion-fab-button href="/favourites">
            <ion-icon name="heart"></ion-icon>          
          </ion-fab-button>
        </ion-fab>
      </ion-col>

      <ion-col>
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="cog"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button href="/settings">
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <strong>IRL</strong>
            </ion-fab-button>
            <ion-fab-button>
              <strong>US</strong> 
            </ion-fab-button>           
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card component for search -->
  <div>
    <ion-card id="container_Left">
      <ion-card-header>
        <ion-card-title>Enter Ingredients</ion-card-title>
        <ion-card-subtitle>Multiple values entered below should be separated by a comma</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <!-- Replace this with text input field -->
        <ion-input #ionicInput class="ionicInput" placeholder="e.g: potatoes,carrots"></ion-input>
      </ion-card-content>
    </ion-card>

    <!-- Put button here -->
    <ion-button (click)="getRecipe(ionicInput.value)" id="buttonSearch">
      Search
    </ion-button>
  </div>


  <!--Add in Recipe Cards here -->
  <ion-list id="recipeList">
    <ion-item *ngFor="let r of recipesListArr">
      <ion-card id="recipeCard">
        <div id="recipeImagePadding">
          <img id="recipeImage" src={{r.image}} />
        </div>
        <ion-card-header>
          <ion-card-title>{{ r.title }}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button href="/recipe-details?{{r.id}}">Details</ion-button>
              </ion-col>
              <ion-col>
                <ion-button>
                  <ion-icon name="heart"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col offset="5"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>