<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473365
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container_Left">
    <ion-card>
  <ion-card-header>
    <ion-card-title>Enter Ingredients</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- Replace this with text input field -->
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<!-- Put button here -->

  </div>
</ion-content>