<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test for Fourth Git Commit.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>VM connected and Git ready</strong>
    <br>
    <strong>Commit from personal laptop</strong>
    <br>
    <strong>Check no issues with node versions.</strong>
  </div>
</ion-content>
